---
---

<header>
  <a href="/" class="name">Jonathan Rhyne</a>
  <nav>
    <a href="/thoughts">Writing</a>
    <a href="/about">About</a>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .name {
    font-weight: 600;
    text-decoration: none;
  }

  nav { display: flex; gap: 1.5rem; }
  nav a { text-decoration: none; color: var(--gray); }
  nav a:hover { color: var(--black); }
</style>
